body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1f2937;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;
}

#wrapper {
    font-size: 22pt;
    font-weight: bold;
}

#noInput {
    color: red;
}

#leftHeader {
    margin-left: 2em;
}

#starRating {
    align-self: center;
    margin-right: 2em;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #939611;
}

#container {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: black;
    color: white;
}

main div {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

#starRating {
    justify-content: center;
}

#starRating img {
    width: 50px;
}

main div img {
    width: 30%;
}

footer {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;   
    display: flex;
    justify-content: center;
}
