body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1f2937;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;
}

#wrapper {
    font-size: 22pt;
    font-weight: bold;
    display: flex;
    flex-shrink: 1;
}

#noInput {
    margin-top: 0px;
    margin-left: .2em;
    color: red;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #939611;
}

main {
    background-color: black;
    color: white;
}

main div {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

main div img {
    width: 30%;
}

footer {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;   
    display: flex;
    justify-content: center;
}
