body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1f2937;
}

header {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #939611;
}

main {
    background-color: black;
    color: white;
}

main div {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

main div img {
    width: 30%;
}

footer {
    padding: 12px 12px;
    background-color: #1f2937;
    color: white;   
    display: flex;
    justify-content: center;
}
